<div class="mx-2">
  <p-panel header="Pipes Númericos" class="p-2">
    <p class="">Pipes incluídos en Angular - Usualmente en el Common Module</p>
  </p-panel>

  <div class="grid">
    <div class="col-12 md:col-4">
      <p-card header="Ventas Netas" subheader="del presente año"
        >{{ totalSells + 1628425.8 | number : '1.2-2' }}
      </p-card>
    </div>

    <div class="col-12 md:col-4">
      <p-card header="Ventas Brutas" subheader="del presente año"
        >{{ totalSells | currency : 'VES' : 'symbol-narrow' : '1.4-4' }}
      </p-card>
    </div>

    <div class="col-12 md:col-4">
      <p-card header="Ganancia portecual" subheader="del presente año"
        >{{ percent | percent : '1.2-2' : 'es-VE' }}
      </p-card>
    </div>
  </div>
</div>
