<form
  class="flex flex-row items-center h-16 rounded-xl bg-white w-full p-4"
  [formGroup]="form"
  (ngSubmit)="handleSubmit()"
>
  <div class="mr-3">
    <button
      class="flex items-center justify-center text-gray-400 mr-3 cursor-pointer"
      (click)="fileInput.click()"
    >
      <i class="fa-solid fa-paperclip text-xl"></i>
    </button>
    <input
      type="file"
      class=""
      #fileInput
      class="hidden"
      (change)="handleSelectedFile($event)"
    />
  </div>
  <div class="flex-grow">
    <div class="relative w-full">
      <input
        type="text"
        autofocus
        class="flex w-full border border-gray-300 rounded-xl text-gray-800 focus:outline-none focus:border-indigo-300 pl-4 h-10"
        [placeholder]="placeholder"
        formControlName="prompt"
      />
    </div>
  </div>

  <div style="margin-left: 12px">
    <button class="btn-primary" type="submit" [disabled]="form.invalid">
      <span class="mr-2">Enviar</span>
      <i class="fa-regular fa-paper-plane"></i>
    </button>
  </div>
</form>
